ul,ol{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a{
	text-decoration: none;
	
}

div.img>img{
	/*width: 300px;*/
	height: 500px;

}
div.img{
	/*width: 300px;*/
	height: 500px;
	/*为了让绝对定位找到位置*/
	position: relative; 
}



/*div.img a{
	position: absolute;
	display: block;
	width: 50px;
	height: 60px;
	文本缩进 使文本影藏
	text-indent: -1000em;
}*/

div.img a{
	position: absolute;
	display: block;
	background-image: url(img/shim.png);
	color: #fff;
	border:1px solid transparent;
	
}


div.img .theone a{
	top: 50px;
	left: 80px;
}
div.img .thetwo a{
	top: 100px;
	left: 150px;
}
div.img .thethree a{
	top: 50px;
	left: 150px;
}
div.img .thefour a{
	top: 50px;
	left: 380px;
}
div.img a:hover,
div.img a:focus
{
	border:3px solid #fff;
}

/*ie10一下解决方法
div.img a{
	position: absolute;
	display: block;
	设置 transparent 无效
	background-image: url(img/透明的图片.png);
	width: 80px;
	height: 50px;
	text-indent: -9999px;	
}*/