/*typography*/

/*casoIndex*/
html{
	font-family: "Microsoft YaHei" !important;
}
div.container-fluid{
	width: 100%;
	margin: 0;
	padding: 0;
}

/*layout*/




/*header*/

/*nav*/
header>nav{
	height: 100px;
	padding-top: 25px;
	padding-bottom: 25px;
	max-width: 1200px;
	border: none;
	/*padding-left: 197px;*/
}
#navbarIndex{
	max-height: 50px;
}
#navbarIndex ul.navbar-right{
	margin-left: 0px !important;
}
#navbarIndex ul.navbar-right li a{
	padding-top: 10px;
}


@media(min-width: 1170px){
	header>nav{
		/*padding-left: 197px;*/
		padding-right: 100px;
		margin-right: 500px;

	}
	#navbarIndex #nav-btn>li:first-child{
		margin-right: 130px;
	}
	#navbarIndex #nav-btn>li:last-child{
		margin-left: 80px;
	}


}



/*toolbar*/
#toolbar>h1{
	/*typography*/
	margin-top: 8%;
	margin-bottom: 45px;

	/*layeout*/
	font-weight: bold;
	text-shadow:3px 3px 8px rgb(150,150,150);
}



div.container-fluid>#toolbar{
	background-image: url(../images/navBGSm.jpg) !important;
	max-height: 400px;
	max-width: 1920px;
	width: 100%;
	height: 400px;

}
#toolbar div.center-block{
	/*margin: 0 auto !important;*/
	/*width: 980px;*/
	max-width: 980px;
	/*left: 25%;*/
	/*top: 50%;*/
	/*height: 43px;*/
}
#toolbar-group{
	max-width: 960px;
	/*width: 960px;*/
	/*height: 43px;*/
	border-radius: 10px;
	background-color: rgba(80,80,80,0.6);
	border: 10px solid rgba(50,50,50,0.1);
	text-align: left;
}
/*394+335+231*/
/*181+210 +3 */
#toolbar-group #toolbar-group-1{
	width: 394px;
	/*text-align: inherit;*/
	/*background-color: #cbcbcb;*/
}
#toolbar-group #toolbar-group-1 #toolbar-btn-1{
	width: 181px;
	height: 43px;
	margin-right: 3px;
	text-align: inherit;
}
#toolbar-group #toolbar-group-1 #toolbar-btn-2{
	width: 210px;
	height: 43px;
	text-align: inherit;
}
#toolbar-group #toolbar-group-2{
	width: 231px;
	/*margin-left: -2px;*/
}
#toolbar-group #toolbar-group-2{
	border-top-right-radius: 5px;
	border-bottom-right-radius:5px; 
}
#toolbar-group #toolbar-group-2 #toolbar-btn-3{
	width: 193px;
	height: 43px;
	text-align: inherit;
}
#toolbar-group #toolbar-group-2 #toolbar-btn-3{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#toolbar-group #toolbar-group-2 #toolbar-btn-4{
	width: 40px;
	height: 43px;
	text-align: inherit;

	border:none;
	background-color: #fab029 !important;
}
#toolbar-group #toolbar-input-major{
	width: 335px;
	height: 43px;
	/*left: 190px;*/
}







/*main*/
#main{
	/*margin-right: -25px;*/
	/*padding-right: -20px;*/
}

/*section*/

/*居中设置*/
#section1 div.center-block,
#section2 div.center-block,
#section3 div.center-block,
#section4 div.center-block
{	
	max-width: 980px;
}

/*各类间距*/
#section1>div.row,
#section2>div.row
{
	margin: 0 auto;
	/*max-width: 980px;*/
}

#section1>div.row div,
#section2>div.row div
{
	max-width: 310px;
	max-height: 195px;
	background-color: rgb(9,133,169);

}

/*给所有的处于右边的最后的元素 去除mr的属性*/
div.row div:last-child{
	margin-right: 0 !important;
}

#section1 div.row>div,
#section2 div.row>div
{
	margin-right: 25px;
}


#section1 div.row,
#section2 div.row
{
	margin-bottom: 21px;
	padding-right: -20px;
}

/*section3*/
#section3 div.row div.col-md-6,
#section3 div.row div.col-md-3
{
	max-width: 480px;
	max-height: 340px;
	margin-right: 20px;
}
#section3 div.row
{
	margin-bottom: 20px;
	/*margin-right: 20px;*/
}
/*section4*/
#section4 div.row div{
	max-height: 488px;
	max-height: 130px;
	margin-right: 4px;
	margin-bottom: 4px;

}

/*section1*/
#section1 h2{
	margin-top: 60px;
}
#section1 h4{
	margin-bottom: 52px;
}
#section1 div.row{
	color: #fff;
	font-size: 27px;
	padding: 50px auto;
}
#section1 div.row div p{
	text-align: center;
	margin-bottom: 53px;
}
#section1 div.row div{
	/*padding-top: 5%;*/
	/*padding-left: 10%;*/
}
#section1 div.row div.major-icon{
	width: 53px;
	height: 69px;
	/*line-height: 100px;*/
	display: block;
	/*overflow: hidden;*/
	background-image: url(../images/major-icon.png);
	background-repeat: no-repeat;
	margin-top: 50px;

}
#section1 div.row div.major-icon#law{
	background-position: 0 0px;
}
#section1 div.row div.major-icon#CS{
	background-position: -64px 0px;
}
#section1 div.row div.major-icon#engineer{
	background-position: -128px 0px;
}
#section1 div.row div.major-icon#arch{
	background-position: 0 -80px;
}
#section1 div.row div.major-icon#art{
	background-position: -64px -80px;
}
#section1 div.row div.major-icon#business{
	background-position: -128px -80px;
}
195-34 161 182/2/2 91
/*section2*/
#section2 h2{
	margin-top: 29px;
	margin-bottom: 87px;
}
#section2>div.row p{
	color: #fff;
	font-size: 24px;
	text-align: center;
	margin-top: 80px;
	/*line-height: 195px;*/
}
#section2 #check-art{
	font-size: 18px !important;
}
#section2 #check-btn{
	z-index: 99;
	width: 200px;
	height: 35px;
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
	display: block;
	margin: 0 auto;

}

/*section3*/
#section3>h2{
	margin-top:43px;
	margin-bottom: 12px;
}
#section3>h4{
	margin-bottom: 62px;
}

#section3>hr{
	margin-top: 55px;
	margin-bottom: 51px;
}
#section3 #university{
	margin-top: 59px;
}
/*section4*/
#section4>h2{
	margin-top: 29px;
	margin-bottom: 48px;
}
/*footer*/
footer div.row div{
	width: 100%;
	max-height: 240px;

}

/*yidnogduan*/
@media (min-width: 1170px){
	#section1 div.row div,
	#section2 div.row div
	{
		height: 310px;
		height: 195px;
	}
	#section3 div.row div.col-md-6
	{
		width: 480px;
		height: 340px;
	}
	#section3 div.row div.col-md-3
	{
		width: 230px;
		height: 340px;
	}
	#section3 div.row div.col-md-12
	{
		width: 980px !important;
		height: 430px !important;
	}
	#section4 div.row div
	{
		width: 488px;
		height: 130px;

	}
	footer div.row div{
		height: 130px;
	}
}




/*div.goBackToHomePage{
	sqare
	width: 50px;
	height: 50px;
	position
	display: inline-block;
	position: fixed;
	right: 5px;
	bottom: 15px;
	z-index: 99999 !important;
	color
	background-color: #99CCCC;
	border

}
div.goBackToHomePage a{
	word
	font-family: "Microsoft YaHei","SimSun";
	font-size: 20px;
	line-height: 20px;
	color: #fff !important;

	text-decoration: none !important;
}
*/







/*color*/

/*header*/

/*toolbar*/
#toolbar h1{
	color: #fff;
}

/*main*/
#section1,#section3{
	background-color: rgb(241,240,237);
}
#section{
	background-color: rgb(227,226,220);
}

#section3 div.row div{
	background-color:red;
}
#section4{
	background-color: #e3e2dc
}
#section4 div.row div{
	background-color:red;
}

footer{
	background-color: rgb(44,103,123);
}