/*布局板式*/
body,html,#main{
	height: 100%;
}
#main{
	position: relative;
}


#introduce{
	position: absolute;
	height: 100%;
	left:  300px;
	width: 100%;
}



.container{
	padding: 30px;
}

/*intro page*/
#introduce,#introduce ul,#introduce ul li,#page_home .container{
	position: relative;

	width: 100%;
	height: 100%;
}

/*intro前面的p*/
#introduce > p{
	z-index: 0;
	position: absolute;
	transform:translateX(-50%);
	transform:translateY(-50%);
	top: 45%;
	left: 20%;
}

.headerIcon{
	/*img-responsive need it*/
	display: block;
	/*width: 100%;*/
	max-width: 230px;
	/*height: 230px;*/
	height: auto;
	/*other*/
	border: 8px solid ;
	padding-left: 0px;
	padding-right: 0px;
	/*border-radius: 50%;*/
	/*图片的高度*/
	/*margin-bottom: -120px;*/
}

/*skill page*/

#EChatrs_skill{
	width: 100%;
	height: 100%;
}


/*page project*/
/*所有展示div 为16:9  450*254*/
#page_project>.container>.row .img-responsive{
	max-width: 100%;
	height: auto;
	display: block;
}

#page_project .container{
	padding-left: 50px;
	margin: 0px;
}
#page_project .container .row{
	margin-bottom: 20px;
}
#projectTip{
	display: inline-block;
	width: 350px;
	
	background-color: yellow;
	border: 2px solid #000;
	position: absolute;
}
/*page contact*/
/*竖排
电话 邮箱 微信  qq git  175*175 */
#page_contact .container{
	width: 80%;
	margin: 0;
}
#page_contact>.container>.row>.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}





